# Backend Dependencies
flask
flask-cors
opencv-python-headless
tensorflow
numpy

# Machine Learning
scikit-learn

# Testing Dependencies
selenium
webdriver-manager
pytest

# Development Tools
pylint
black

# WebDriver Specific
webdriver_manager
chromedriver-binary
geckodriver-autoinstaller
